@import "styles.scss";

.cart-item {
  margin-bottom: 10px;

  padding: 20px;

  background: #f7f7f7;
  border: 1px solid $secondary-color;
  border-radius: 12px;

  &__title {
    margin: 0;

    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  &__price {
    display: block;
    margin-top: 8px;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 16px;

    &__total {
      color: $action-color;

      font-size: 16px;
      font-weight: 600;
    }
  }
}
